<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程列表</title>
	<link rel="stylesheet" href="../../static/css/list.css">
    <!--引入jquery.js文件-->
    <script src='http://cdn.bootcss.com/jquery/2.2.4/jquery.js'></script>
    <!--引入插件.js文件-->
    <script src='http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!--引入插件.css文件-->
    <link  href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css' rel='stylesheet' />
</head>
<body>
<!-- 头部 -->
	<header class="header">
		<div class="logo"></div>
        <div class="nav">
					<a href="/Demo/HW/MvcDemo/index.php/IndexController/public" class="nav__item nav__course">添加课程</a>
					<a href="/Demo/HW/MvcDemo/index.php/ProductController/course_list" class="nav__item nav__item_icon_new">课程列表</i></a>
					<a href="/Demo/HW/MvcDemo/index.php/ShoppingController/shopping_list" class="nav__item">购物车</a>
        </div>
	</header>
<div id="main">
    <div class="wrap">
        <!-- 节点筛选 -->
        <div class="course-content">
            <div class="course-nav-box">
                <span class="hd">方向 ： </span>
                <div class="bd">
                    <ul>
                        <li class="course-nav-item active">
                            <a href="">Php</a>
                        </li>
                        <li class="course-nav-item" id="test">
                            <a href="" onclick="test()">Java</a>
                        </li>
                        <li class="course-nav-item">
                            <a href="">Html/css</a>
                        </li>
                        <li class="course-nav-item">
                            <a href="">Python</a>
                        </li>
                        <li class="course-nav-item">
                            <a href="">Android</a>
                        </li>
                        <li class="course-nav-item">
                            <a href="">Ios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- 课程列表 -->
        <div class="course-list">
            <div class="course-card-container">
                <a href="">
                    <div class="course-card">
                        <div class="course-card-top">
                            <span>HTML/CSS</span>
                        </div>
                        <div class="course-card-content">
                            <h3>HTML+CSS基础课程</h3>
                            <p>HTML+CSS基础教程8小时带领大家步步深入学习标签用法和意义</p>
                            <div class="course-card-bottom">
                                <span>初级 ~ 111111</span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="course-card-bk">
                        <img src="./img/bk1.jpg" alt="">
                    </div>
                </a>
            </div>
        </div>
        <nav class='text-center'>
            <ul class="pagination">
                <li><a href="">上一页</a></li>
                <li class='active'><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
